<p>viewer works!</p>
<ul>
    <li *ngFor="let fileName of fileNamesCheckBox">
      <input (change)="onChange($event)" type="checkbox" [id]="fileName" [value]="fileName">
      <label [for]="fileName">{{ fileName }}</label>
    </li>
</ul>

<form [formGroup]="filterForm">
  <select formControlName="abscisse" (change)="onSelect()">
    <option [value]="value" *ngFor="let value of selectXValues">{{value}}</option>
  </select>
  <select formControlName="ordonnee" (change)="onSelect()">
    <option [value]="value" *ngFor="let value of selectYValues">{{value}}</option>
  </select>
</form>

<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>