

<form [formGroup]="filterForm">

  <div class="horizontal-container">
    <div class="component" *ngFor="let categorie of Object.keys(fileNamesCheckBox)">
      <h3> {{ categorie }} </h3>
      <ul>
        <li *ngFor="let fileName of fileNamesCheckBox[categorie]">
          <input (change)="onChange($event)" type="checkbox" [id]="fileName" [value]="fileName" [checked]="checkboxNameSelected.includes(fileName)">
          <label [for]="fileName">{{ fileName }}</label>
        </li>
      </ul>
    </div>
  </div>


  <div class="horizontal-container">
    <div class="component">
      <label>
        <input (change)="onChangeRadioData($event)" type="radio" formControlName="radioData" value="display" checked/>
        Courbes
      </label>

      <label class="padding-left">
        <input (change)="onChangeRadioData($event)" type="radio" formControlName="radioData" value="correlate"/>
        Diagramme de dispersion
      </label>

      <label class="padding-left">
        <input (change)="onChangeRadioData($event)" type="radio" formControlName="radioData" value="division"/>
        Correlation par Division
      </label>
    </div>
  </div>

  <div *ngIf="['correlate', 'division'].includes(filterForm.value.radioData)">
    <p> Variable par axe : </p>
    X : <select formControlName="abscisse" (change)="onChangeSelectX($event)">
      <option [value]="value.id" *ngFor="let value of selectXValues">{{value.label}}</option>
    </select>
    Y : <select formControlName="ordonnee" (change)="onChangeSelectY($event)">
      <option [value]="value.id" *ngFor="let value of selectYValues">{{value.label}}</option>
    </select>
  </div>
</form>

<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>

    <div class="zoom">
      <button mat-stroked-button (click)="resetZoom()">Dézoomer</button>
      X : <mat-slider [min]="sliderParams.min" [max]="sliderParams.max" discrete [displayWith]="formatLabel" (change)="zoom($event)">
        <input [(value)]="sliderParams.currentMin" matSliderStartThumb>
        <input [(value)]="sliderParams.currentMax" matSliderEndThumb>
      </mat-slider>
    </div>
</div>

<div id="chart-correlation-container">
    <!-- <app-correlation-chart [xFile]="'Mortalite infantile'" [yFile]="'Naissances'" [method]="'division'"> </app-correlation-chart> -->
    <!-- <app-correlation-chart [xFile]="'Mortalite infantile'" [yFile]="'Naissances'" [method]="'correlation'"> </app-correlation-chart> -->
    <app-chart [fileList]="['Fécondité des femmes selon le niveau de vie']"></app-chart>
    <app-chart [fileList]="['Âge moyen de la mère à l\'accouchement']"></app-chart>
    <app-correlation-chart [xFile]="'Mortalite infantile'" [yFile]="'Naissances'" [method]="'correlation'"> </app-correlation-chart>
    <app-correlation-chart [xFile]="'Croissance PIB'" [yFile]="'Naissances'" [method]="'correlation'"> </app-correlation-chart>
    
    <!-- <app-chart [fileList]="['Évolution de la dépense des ménages', 'Pouvoir d\'achat des ménages']"></app-chart> -->
</div>