li {
    list-style: none;
    margin-right: 5px;
}

input[type=checkbox] {
    margin-right: 5px;
}

.horizontal-container {
    display: flex;

    .component {
        margin: 0.5rem 2rem;
    }
}

h3 {
    font-size: 1.3rem;
}


#chart-correlation-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#chart-correlation-container > * {
    border: 1px solid #000;
}

.padding-left {
    padding-left: 1rem;
}  

select {
    max-width: 200px;
}

mat-slider {
    width: 300px;
}

.zoom {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-right: 2rem;
    }
}

.chart-container {
    margin-bottom: 3rem;
}