li {
    list-style: none;
    margin-right: 5px;
}

input[type=checkbox] {
    margin-right: 5px;
}

.horizontal-container {
    display: flex;

    .component {
        margin: 0.5rem 2rem;
    }
}

h3 {
    font-size: 1.3rem;
}