<div>
    <h2>Liens utiles de nos recherches</h2> 
    <ul>
        <li><a href="https://www.insee.fr/fr/statistiques/3560308#graphique-Figure1" target="_blank">Taux de mortalité infantile depuis 1901</a></li>
        <li><a href="https://fr.wikipedia.org/wiki/D%C3%A9mographie_de_la_France" target="_blank">Démographie de la France, nombre de mort, seuil naturel</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/4277635?sommaire=4318291#tableau-figure3" target="_blank">Taux de fécondité par an 1900-2019</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/6047733?sommaire=6047805#tableau-figure2_radio1" target="_blank">Taux d'activité des femmes par âge et par an 1975-2002</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/4982628#figure3_radio1" target="_blank">18 années entre 1901 et 2008</a></li>
        <li><a href="https://france-inflation.com/inflation-depuis-1901.php" target="_blank">Inflation en France depuis 1901</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/2385829#tableau-figure1" target="_blank">Évolution de la dépense et du pouvoir d'achat des ménages</a></li>
        <li><a href="https://www.lepoint.fr/societe/infographies-combien-d-ivg-quel-taux-de-recours-et-les-mineures-l-avortement-en-france-25-01-2024-2550656_23.php" target="_blank">Chiffre IVG depuis 76</a></li>
        <li><a href="https://www.statista.com/statistiques/475405/population-agee-france-pourcentage/" target="_blank">Nombre de 65 ans +</a></li>
        <li><a href="https://www.vie-publique.fr/eclairage/20144-la-politique-de-la-famille-depuis-1932-chronologie#:~:text=La%20cr%C3%A9ation%20du%20compl%C3%A9ment%20familial,allocation%20pour%20frais%20de%20garde." target="_blank">Date décision politique</a></li>
        <li><a href="https://www.chc.be/Services/Centre-de-PMA/PMA/L-infertilite" target="_blank">Infertilité de la femme en fonction de l'âge</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/6441218" target="_blank">Fécondité des femmes selon le niveau de vie</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/2385829" target="_blank">Évolution des dépenses des ménages</a></li>
        <li><a href="https://www.insee.fr/fr/statistiques/serie/001686826" target="_blank">Âge moyen des mères à l'accouchement </a></li>
      </ul>      
</div>